.idea

Final-assignment/bert-model.h5
Final-assignment/env
Final-assignment/karyawan

*private
*material-plan.md
*.ipynb_checkpoints
Final-assignment/assets/ImagesAttendance/*
Final-assignment/static/video-uploaded/*
Final-assignment/static/audio-uploaded/*
Approved/*.docx