app/* linguist-documentation=false
app/* linguist-vendored
Tubes/*/** linguist-documentation=false
Tubes/*/** linguist-vendored
Tugas weekday/*/** linguist-documentation=false
Tugas weekday/*/** linguist-vendored
